/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --current-font: Fredoka One, sans-serif;
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --first-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --third-text-color: #000000;
  --accent-color: #2196f3;
  --btn-accent-color: #188ce8;
  --main-site-section: #2f303a;
  --thumb-background-color: #f5f4fa;
  --line-color: #ececec;
  --border-color: #eeeeee;
  --current-placeholder-color: rgba(117, 117, 117, 0.5);
  --social-background-color: rgba(255, 255, 255, 0.1);
  --social-link-color: #AFB1B8;
  --overlay-color: rgba(0, 0, 0, 0.2);
  --duration: 250ms;
  --function: cubic-bezier(0.4, 0, 0.2, 1);
  --about-text-bgc: rgba(47, 48, 58, 0.8);
  --overlay-card-color: rgba(33, 150, 243, 0.9);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.lists {
  list-style: none;
  list-style-type: none;
}

img {
  display: block;
  height: auto;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: Fredoka One, sans-serif;
  color: #270a3a;
  background-color: #ffffff;
}

body {
  font-family: Fredoka One, sans-serif;
  color: #270a3a;
  background-color: #270a3a;
}

.container {
  min-width: 200px;
  margin: 0 auto;
}
.hero .container {
  max-width: 360px;
  padding: 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero .container {
    max-width: 696px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 390px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  /* max-width: 1920px; */
  padding: 60px 0;
}
.section.hero {
  padding: 0;
}

.button__hero {
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background-image: linear-gradient(to right, #5265ce 0%, #360033 51%, #5265ce 100%);
  background-size: 200% auto;
  box-shadow: -1px 1px 26px -2px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: -1px 1px 26px -2px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: -1px 1px 26px -2px rgba(0, 0, 0, 0.79);
  font-size: 23px;
  font-family: Fredoka One;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 3px 0.99px rgba(0, 0, 0, 0.49);
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  width: 210px;
  height: 60px;
  margin-bottom: 20px;
  /* border-color: rgb(109, 140, 24); */
  /* box-shadow: 0 1rem 1.25rem 0 rgba(0, 0, 0, 0.5),
       0 -0.25rem 1.5rem rgb(50, 93, 48) inset,
       0 0.75rem 0.5rem rgba(114, 133, 114, 0.4) inset,
       0 0.25rem 0.5rem 0 rgb(83, 243, 91) inset;
   webkit-box-shadow: inset 10px 11px 84px -40px rgba(0, 0, 0, 0.63);
   -moz-box-shadow: inset 10px 11px 84px -40px rgba(0, 0, 0, 0.63);
   box-shadow: inset 10px 11px 84px -40px rgba(0, 0, 0, 0.63); */
}
@media screen and (min-width: 768px) {
  .button__hero {
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: #78be20;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
    font-size: 26.285px;
    font-family: Fredoka One;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 3px 0.99px rgba(0, 0, 0, 0.49);
    transition-duration: var(--duration);
    transition-timing-function: var(--function);
    width: 220px;
    height: 60px;
    border-color: rgb(109, 140, 24);
    border-radius: 20px;
    box-shadow: 0 1rem 1.25rem 0 rgba(0, 0, 0, 0.5), 0 -0.25rem 1.5rem rgb(50, 93, 48) inset, 0 0.75rem 0.5rem rgba(114, 133, 114, 0.4) inset, 0 0.25rem 0.5rem 0 rgb(83, 243, 91) inset;
  }
}
@media screen and (min-width: 1200px) {
  .button__hero {
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: #78be20;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
    font-size: 26.285px;
    font-family: Fredoka One;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 3px 0.99px rgba(0, 0, 0, 0.49);
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    width: 240px;
    height: 60px;
    border-color: rgb(109, 140, 24);
    border-radius: 20px;
    box-shadow: 0 1rem 1.25rem 0 rgba(0, 0, 0, 0.5), 0 -0.25rem 1.5rem rgb(50, 93, 48) inset, 0 0.75rem 0.5rem rgba(114, 133, 114, 0.4) inset, 0 0.25rem 0.5rem 0 rgb(83, 243, 91) inset;
  }
}
@media screen and (min-width: 1900px) {
  .button__hero {
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: #78be20;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
    font-size: 26.285px;
    font-family: Fredoka One;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 3px 0.99px rgba(0, 0, 0, 0.49);
    width: 266px;
    height: 60px;
    border-color: rgb(109, 140, 24);
    border-radius: 20px;
    box-shadow: 0 1rem 1.25rem 0 rgba(0, 0, 0, 0.5), 0 -0.25rem 1.5rem rgb(50, 93, 48) inset, 0 0.75rem 0.5rem rgba(114, 133, 114, 0.4) inset, 0 0.25rem 0.5rem 0 rgb(83, 243, 91) inset;
  }
}
.button__hero:hover {
  transform: perspective(1px) translateZ(0);
}

.button__hero:focus {
  color: #ffffff;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.btn-grad {
  background-image: linear-gradient(to right, #360033 0%, #0b8793 51%, #360033 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.icon__raiting {
  width: 260px;
  height: 65px;
}

.icon__footer-age {
  width: 55px;
  height: 55px;
  margin: 0px auto;
  /* padding: 8px 5px; */
}
@media screen and (min-width: 768px) {
  .icon__footer-age {
    width: 55px;
    height: 55px;
    margin-right: 20px;
    padding: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .icon__footer-age {
    width: 55px;
    height: 55px;
    margin-right: 20px;
    padding: 0px;
  }
}
@media screen and (min-width: 1900px) {
  .icon__footer-age {
    width: 55px;
    height: 55px;
    margin-right: 20px;
    padding: 0px;
  }
}

.header {
  background-image: url(../images/Header.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 887px;
  max-width: 100vw;
}
@media screen and (min-width: 480px) {
  .header {
    max-width: 100vw;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .header {
    max-width: 100vw;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    max-width: 100vw;
    max-width: 1920px;
    min-height: 850px;
    height: 100%;
  }
}
@media screen and (min-width: 1600px) {
  .header {
    max-width: 100vw;
  }
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  margin-top: 40px;
  font-size: 28px;
  font-family: "Fredoka One";
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px, 0 0 10px #4c2781, 0 0 20px #4c2284, 0 0 30px #5b2e8d, 0 0 40px rgba(205, 171, 224, 0.5098039216);
}
@media screen and (min-width: 768px) {
  .header__title {
    margin-top: 50px;
    font-size: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .header__title {
    margin-top: 45px;
    font-size: 42px;
    font-family: "Fredoka One";
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px, 0 0 10px #4c2781, 0 0 20px #4c2284, 0 0 30px #5b2e8d, 0 0 40px rgba(205, 171, 224, 0.5098039216);
  }
}
@media screen and (min-width: 1600px) {
  .header__title {
    font-size: 42px;
    margin-top: 73px;
  }
}

.hero {
  display: flex;
  align-items: center;
  background: #270a3a;
  height: 530px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    width: 100%;
    max-width: 100vw;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 100vw;
    display: flex;
    align-items: center;
    background: #270a3a;
    height: 0px;
  }
}

.hero__block {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.hero__slotsstar {
  position: absolute;
  height: 248px;
  width: 357px;
  top: -972px;
  margin-left: 33px;
}
@media screen and (min-width: 768px) {
  .hero__slotsstar {
    height: 260px;
    width: 358px;
    top: -970px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__slotsstar {
    position: absolute;
    height: 269px;
    width: 396px;
    top: -680px;
    margin-left: 39px;
  }
}
@media screen and (min-width: 1600px) {
  .hero__slotsstar {
    position: absolute;
    height: 269px;
    width: 396px;
    top: -625px;
    margin-left: 39px;
  }
}

.hero__slots {
  padding-top: 49px;
  background-color: #fff;
  margin: 0px auto;
  height: 130px;
  border-radius: 0 0 50% 50%/0 0 30px 30px;
  width: 296px;
}
@media screen and (min-width: 768px) {
  .hero__slots {
    padding-top: 49px;
    background-color: #fff;
    margin: 0px auto;
    height: 145px;
    width: 460px;
    border-radius: 0 0 50% 50%/0 0 30px 30px;
    width: 295px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__slots {
    padding-top: 115px;
    background-color: #fff;
    margin: 0px auto;
    height: 215px;
    width: 310px;
    border-radius: 0 0 50% 50%/0 0 30px 30px;
  }
}

.hero__logo {
  display: block;
  margin: 0 auto;
  width: 190px;
  height: 64px;
}
@media screen and (min-width: 1200px) {
  .hero__logo {
    width: 188px;
    height: 67px;
  }
}

.hero__5stars {
  display: block;
  margin: 0 auto;
  width: 132px;
  height: 42px;
}
@media screen and (min-width: 1200px) {
  .hero__5stars {
    display: block;
    margin: 0 auto;
    width: 132px;
    height: 47px;
  }
}

.title__hero {
  font-size: 20px;
  font-family: Fredoka One;
  color: #2e3337;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .title__hero {
    font-size: 22px;
    font-family: Fredoka One;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .title__hero {
    font-size: 22px;
    font-family: Fredoka One;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }
}

.accent-color {
  color: #5265ce;
}

.hero__box {
  background-color: #fff;
  border-radius: 0 0 3% 3%;
  /* border: 4px solid #d8b367;
  border-style: solid;
  border-width: 2px; */
  /* border-radius: 20px; */
  /* -webkit-box-shadow: 0px 0px 10px 3px #f9da49;
    box-shadow: 0px 0px 10px 3px #f9da49; */
  margin-top: -760px;
  margin-left: 3px;
}
@media screen and (min-width: 768px) {
  .hero__box {
    background-color: #804cb9;
    border-radius: 0 0 15% 15%;
    border: 4px solid #d8b367;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    /* -webkit-box-shadow: 0px 0px 10px 3px #f9da49;
      box-shadow: 0px 0px 10px 3px #f9da49; */
    margin-top: -750px;
    margin-left: 3px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__box {
    background-color: #804cb9;
    border-radius: 0 0 15% 15%;
    border: 4px solid #d8b367;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    /* -webkit-box-shadow: 0px 0px 10px 3px #f9da49;
    box-shadow: 0px 0px 10px 3px #f9da49; */
    margin-top: -520px;
    margin-left: 9px;
  }
}
@media screen and (min-width: 1600px) {
  .hero__box {
    margin-top: -450px;
  }
}

.hero__item {
  margin-bottom: 5%;
}

.raiting__list {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .raiting__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .raiting__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
  }
}
@media screen and (min-width: 1600px) {
  .raiting__list {
    margin-bottom: -70px;
  }
}

.raiting__box {
  border: 2px solid #fff;
  background-color: #804cb9;
  border-radius: 50px;
  max-width: 1199px;
  height: 380px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 10px 3px #F9F9F9;
  box-shadow: 0px 0px 10px 3px #F9F9F9;
  align-items: center;
  width: 390px;
}
@media screen and (min-width: 768px) {
  .raiting__box {
    border: 2px solid #fff;
    background-color: #804cb9;
    border-radius: 50px;
    max-width: 1199px;
    height: 205px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 0px 0px 10px 3px #F9F9F9;
    box-shadow: 0px 0px 10px 3px #F9F9F9;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .raiting__box {
    border: 2px solid #fff;
    background-color: #804cb9;
    border-radius: 50px;
    max-width: 1199px;
    height: 205px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 0px 0px 10px 3px #F9F9F9;
    box-shadow: 0px 0px 10px 3px #F9F9F9;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .raiting__box {
    width: 768px;
    margin-bottom: 75px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .raiting__box {
    width: 1025px;
    flex-direction: row;
    height: 170px;
  }
}

.raiting {
  margin-top: -545px;
  background-repeat: repeat;
  background-size: cover;
  background-size: 100% auto;
  background-image: url(../images/Background2.png);
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .raiting {
    margin-top: -460px;
    background-repeat: repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-image: url(../images/Background2.png);
    background-position: center center;
  }
}
@media screen and (min-width: 1200px) {
  .raiting {
    margin-top: -6px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-image: url(../images/Background2.png);
  }
}
@media screen and (min-width: 1600px) {
  .raiting {
    /* height: 1484px; */
    margin-top: 43px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-image: url(../images/Background2.png);
    background-position: center center;
  }
}

.raiting__item {
  width: 100%;
}

.raiting__box-1 {
  background-color: #fff;
  border-radius: 44px 44px 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .raiting__box-1 {
    border-radius: 44px 0 0 44px;
    height: 203px;
    width: 285px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: inset -3px 0 0 #804cb9;
    background-color: #fff;
  }
}
@media screen and (min-width: 1200px) {
  .raiting__box-1 {
    border-radius: 44px 0 0 44px;
    height: 170px;
    width: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: inset -3px 0 0 #804cb9;
    background-color: #fff;
  }
}

.raiting__stars-box {
  display: flex;
  height: 99px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .raiting__stars-box {
    display: flex;
    height: 203px;
    width: 300px;
    border-radius: 0 15% 15% 0/0 100px 100px 0px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
}
@media screen and (min-width: 1200px) {
  .raiting__stars-box {
    display: flex;
    height: 168px;
    width: 300px;
    border-radius: 0 15% 15% 0/0 100px 100px 0px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
}
@media screen and (min-width: 1900px) {
  .raiting__stars-box {
    display: flex;
    height: 166px;
    width: 350px;
    border-radius: 0 15% 15% 0/0 100px 100px 0px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
}

.raiting__stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.logo__starsRating {
  width: 40px;
  height: 40px;
  margin-left: -11px;
}

.raiting__img-number {
  display: flex;
}

@media screen and (min-width: 320px) {
  .raiting__text {
    padding: 0 10px;
    font-size: 27px;
    font-family: Fredoka One;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
  }
}
@media screen and (min-width: 768px) {
  .raiting__text {
    font-size: 23px;
    font-family: Fredoka One;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
  }
}
@media screen and (min-width: 1200px) {
  .raiting__text {
    font-size: 26px;
    font-family: Fredoka One;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
  }
}
@media screen and (min-width: 1900px) {
  .raiting__text {
    font-size: 32px;
    font-family: Fredoka One;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
  }
}

@media screen and (min-width: 320px) {
  .raiting__number {
    font-size: 28px;
    font-family: Fredoka One;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
    margin-left: 6%;
  }
}
@media screen and (min-width: 768px) {
  .raiting__number {
    font-size: 23px;
    font-family: Fredoka One;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
    margin-left: 6%;
  }
}
@media screen and (min-width: 1200px) {
  .raiting__number {
    font-size: 27px;
    font-family: Fredoka One;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
    margin-left: 6%;
  }
}
@media screen and (min-width: 1900px) {
  .raiting__number {
    font-size: 32px;
    font-family: Fredoka One;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
    margin-left: 6%;
  }
}

.raiting__content {
  background-color: #804cb9;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 50px;
  width: -webkit-fill-available;
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .raiting__content {
    border-radius: 50px;
    background-color: #804cb9;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .raiting__content {
    background-color: #804cb9;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.title__hero-margin {
  font-size: 20px;
  font-family: Fredoka One;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-left: 111px;
  margin-right: 100px;
  margin-top: 11px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .title__hero-margin {
    font-family: Fredoka One;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-left: 50px;
    margin-right: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .title__hero-margin {
    font-size: 22px;
    font-family: Fredoka One;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-left: 10px;
    margin-right: 36px;
    margin-top: 0px;
    width: 212px;
  }
}

.footer {
  background: #1a0a25;
  padding: 22px 0;
  height: 250px;
}
@media screen and (min-width: 768px) {
  .footer {
    background: #1a0a25;
    padding: 60px 0;
    height: 155px;
  }
}

.footer__container {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: left;
  }
}

.footer__content {
  display: block;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .footer__content {
    margin-bottom: 0;
    display: flex;
  }
}
.footer__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__item {
  margin-top: 9px;
}

.footer-tablet {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    margin-top: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tablet {
    margin-bottom: 0;
    justify-content: space-between;
  }
}

.footer__texts {
  font-size: 12px;
  font-family: Fredoka One;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 5%;
}
@media screen and (min-width: 768px) {
  .footer__texts {
    font-size: 14px;
    font-family: Fredoka One;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__texts {
    font-size: 14px;
    font-family: Fredoka One;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1900px) {
  .footer__texts {
    font-size: 14px;
    font-family: Fredoka One;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0px;
  }
}

.footer--accent {
  justify-content: space-around;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #f9da49;
  text-underline-position: unset;
  font-family: Fredoka One;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.footer__thumb {
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .footer__thumb {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 78px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__thumb {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 180px;
  }
}
@media screen and (min-width: 1900px) {
  .footer__thumb {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 800px;
  }
}

.footer__thumb--mail {
  font-size: 14px;
  font-family: Fredoka One;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .footer__thumb--mail {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 78px;
    margin-bottom: 0px;
  }
}

.footer__thumb--contact {
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #f9da49;
  text-underline-position: unset;
  text-transform: uppercase;
  font-family: Fredoka One;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__thumb--contact {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
  }
}/*# sourceMappingURL=main.css.map */