/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --current-font: Fredoka One, sans-serif;
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --first-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --third-text-color: #000000;
  --accent-color: #2196f3;
  --btn-accent-color: #188ce8;
  --main-site-section: #2f303a;
  --thumb-background-color: #f5f4fa;
  --line-color: #ececec;
  --border-color: #eeeeee;
  --current-placeholder-color: rgba(117, 117, 117, 0.5);
  --social-background-color: rgba(255, 255, 255, 0.1);
  --social-link-color: #AFB1B8;
  --overlay-color: rgba(0, 0, 0, 0.2);
  --duration: 250ms;
  --function: cubic-bezier(0.4, 0, 0.2, 1);
  --about-text-bgc: rgba(47, 48, 58, 0.8);
  --overlay-card-color: rgba(33, 150, 243, 0.9);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.lists {
  list-style: none;
  list-style-type: none;
}

img {
  display: block;
  height: auto;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: Fredoka One, sans-serif;
  color: #270a3a;
  background-color: #ffffff;
}

body {
  font-family: Fredoka One, sans-serif;
  color: #270a3a;
  background-color: #270a3a;
}

.container {
  min-width: 200px;
  margin: 0 auto;
}

.hero .container {
  max-width: 360px;
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero .container {
    max-width: 696px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 390px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  /* max-width: 1920px; */
  padding: 60px 0;
}

.section.hero {
  padding: 0;
}

.button__hero {
  border: none;
  cursor: pointer;
  border-radius: 12px;
  background-image: linear-gradient(to right, #1f59ff 10%, #9500d0 51%, #1f59ff 100%);
  background-size: 200% auto;
  /* box-shadow: -1px 1px 26px -2px rgba(0,0,0,0.79);
-webkit-box-shadow: -1px 1px 26px -2px rgba(0,0,0,0.79);
-moz-box-shadow: -1px 1px 26px -2px rgba(0,0,0,0.79); */
  font-size: 23px;
  font-family: Fredoka One;
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 3px 0.99px rgba(0, 0, 0, 0.49);
  transition: color .3s ease, background-color .3s ease, border-color .3s ease;
  width: 210px;
  height: 60px;
  margin-bottom: 20px;
  /* border-color: rgb(109, 140, 24); */
  /* box-shadow: 0 1rem 1.25rem 0 rgba(0, 0, 0, 0.5),
        0 -0.25rem 1.5rem rgb(50, 93, 48) inset,
        0 0.75rem 0.5rem rgba(114, 133, 114, 0.4) inset,
        0 0.25rem 0.5rem 0 rgb(83, 243, 91) inset;
    webkit-box-shadow: inset 10px 11px 84px -40px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: inset 10px 11px 84px -40px rgba(0, 0, 0, 0.63);
    box-shadow: inset 10px 11px 84px -40px rgba(0, 0, 0, 0.63); */
  box-shadow: 0 1rem 1.25rem 0 rgba(0, 0, 0, 0.5), 0 -0.25rem 1rem #ae02e4 inset, 0 0.75rem 0.5rem rgba(31, 36, 31, 0.4) inset, 0 0.25rem 0.6rem 0 #573fea inset;
}

@media screen and (min-width: 1200px) {
  .button__hero {
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 26.285px;
    font-family: Fredoka One;
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 3px 0.99px rgba(0, 0, 0, 0.49);
    transition: color .3s ease, background-color .3s ease, border-color .3s ease;
    width: 240px;
    height: 60px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1900px) {
  .button__hero {
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: #78be20;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
    font-size: 26.285px;
    font-family: Fredoka One;
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 3px 0.99px rgba(0, 0, 0, 0.49);
    width: 266px;
    height: 60px;
    border-color: #6d8c18;
    border-radius: 20px;
    box-shadow: 0 1rem 1.25rem 0 rgba(0, 0, 0, 0.5), 0 -0.25rem 1.5rem #325d30 inset, 0 0.75rem 0.5rem rgba(114, 133, 114, 0.4) inset, 0 0.25rem 0.5rem 0 #53f35b inset;
  }
}

.button__hero:hover {
  transform: perspective(1px) translateZ(0);
}

.button__hero:focus {
  color: #ffffff;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.btn-grad {
  background-image: linear-gradient(to right, #360033 0%, #0b8793 51%, #360033 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button__modal5 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 11px;
  right: 11px;
  min-height: 30px;
  min-width: 30px;
  padding: 0;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button__modal5:focus, .button__modal5:hover {
  color: brown;
}

.icon__raiting {
  width: 150px;
  /* height: 65px; */
  margin: 0px auto;
}

.icon__footer-age {
  width: 55px;
  height: 55px;
  margin: 0px auto;
  /* padding: 8px 5px; */
}

@media screen and (min-width: 768px) {
  .icon__footer-age {
    width: 55px;
    height: 55px;
    margin-right: 20px;
    padding: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .icon__footer-age {
    width: 55px;
    height: 55px;
    margin-right: 20px;
    padding: 0px;
  }
}

@media screen and (min-width: 1900px) {
  .icon__footer-age {
    width: 55px;
    height: 55px;
    margin-right: 20px;
    padding: 0px;
  }
}

.modal__input:focus + .icon__modal-img {
  fill: var(--accent-color);
}

.icon__modal-img {
  width: 18px;
  height: 18px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(12px, 28px);
  color: #000000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* fill: currentColor; */
}

.icon__check {
  width: 16px;
  height: 15px;
  fill: currentColor;
}

.icon__client {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.icon__mob-menu {
  width: 40px;
  height: 40px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__mail {
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .icon__mail {
    width: 16px;
    height: 12px;
  }
}

.icon__tel {
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .icon__tel {
    width: 10px;
    height: 16px;
  }
}

.icon__menu-close {
  width: 40px;
  height: 40px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__close5 {
  fill: currentColor;
  width: 18px;
  height: 18px;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__backdrop.is-hidden > .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(2.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) scale(1);
  width: 90%;
  height: auto;
  padding: 15px 15px 0px 15px;
  background-color: var(--main-title-color);
  opacity: 1;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__heading {
  margin-top: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: white;
}

.modal__heading2 {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: black;
}

.modal__form {
  position: relative;
  display: block;
  text-align: left;
  margin-bottom: 10px;
  color: #212121;
}

.modal__thumb {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

.modal__thumb:last-of-type {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}

.modal__thumb:last-of-type:hover > .modal-check {
  border: 2px solid #2196f3;
}

.modal__thumb:last-of-type:hover > .modal__check,
.modal__thumb:last-of-type:focus-within > .modal__check {
  border: 2px solid #2196f3;
}

.modal__checkbox-input:checked + .modal-check {
  border: 2px solid transparent;
  background-color: #2196f3;
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #000000;
}

.modal__input5 {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input5:focus {
  border-color: #2196f3;
}

.modal__input5::placeholder {
  color: #2d2d2d;
}

.modal__input5:focus + .icon__modal-img {
  fill: var(--accent-color);
}

.modal__thumb-textarea {
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .modal__thumb-textarea {
    margin-bottom: 20px;
  }
}

.modal__area {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  margin: 0;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #9927b5;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__area:focus {
  border-color: #2196f3;
}

.modal__area::placeholder {
  color: rgba(170, 169, 169, 0.987);
  font-weight: 200;
}

.modal__checkbox {
  text-align: center;
}

.modal-check {
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
  background-color: #fff;
  transition-property: background-color, border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__policy {
  font-size: 7px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

@media screen and (min-width: 480px) {
  .modal__policy {
    font-size: 12px;
    line-height: 1.71;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__policy {
    font-size: 14px;
  }
}

.modal__check span:hover,
.modal__checkbox-input:focus + .modal__policy span {
  border: 2px solid #000000;
}

.modal__checkbox-input:checked + .modal__policy span {
  background-color: var(--accent-color);
  border: 0;
}

.modal__checkbox-input:checked + .modal__policy .icon-check {
  fill: var(--main-title-color);
}

.modal__link {
  color: var(--accent-color);
  text-decoration-skip-ink: none;
}

.modal-button {
  text-align: center;
}

.modal-button__btn {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  padding: 10px 29px;
  height: 50px;
  color: #fff;
  background-color: #9927B5;
  font-weight: 200;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .modal-button__btn {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
}

.modal__hero-text {
  padding: 10px;
  color: #000;
  font-size: 12px;
  width: 100%;
}

.modal__link-btn {
  display: block;
  margin: 5px;
}

.modal__close {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: brown;
}

.modal__backdrop2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__backdrop2.is-hidden2 {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__backdrop2.is-hidden2 > .modal2 {
  opacity: 0;
  transform: translate(-50%, -50%) scale(2.9);
}

.modal2 {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) scale(1);
  width: 90%;
  height: auto;
  padding: 15px 15px 0px 15px;
  background-color: var(--main-title-color);
  opacity: 1;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

@media screen and (min-width: 480px) {
  .modal2 {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .modal2 {
    width: 528px;
  }
}

.modal__close2 {
  margin-bottom: 14px;
  text-transform: uppercase;
  display: inline-block;
  color: brown;
  margin-top: 11px;
}

.modal__backdrop3 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__backdrop3.is-hidden3 {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__backdrop3.is-hidden3 > .modal3 {
  opacity: 0;
  transform: translate(-50%, -50%) scale(2.9);
}

.modal3 {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) scale(1);
  width: 90%;
  height: auto;
  padding: 15px 15px 0px 15px;
  background-color: var(--main-title-color);
  opacity: 1;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

@media screen and (min-width: 480px) {
  .modal3 {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .modal3 {
    width: 528px;
  }
}

.modal__close3 {
  margin-bottom: 10px;
  text-transform: uppercase;
  display: block;
  color: brown;
  margin-top: 20px;
}

.modal__backdrop4 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__backdrop4.is-hidden4 {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__backdrop4.is-hidden4 > .modal4 {
  opacity: 0;
  transform: translate(-50%, -50%) scale(2.9);
}

.modal4 {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) scale(1);
  width: 90%;
  height: auto;
  padding: 15px 15px 0px 15px;
  background-color: var(--main-title-color);
  opacity: 1;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

@media screen and (min-width: 480px) {
  .modal4 {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .modal4 {
    width: 528px;
  }
}

.modal__close4 {
  margin-bottom: 10px;
  text-transform: uppercase;
  display: block;
  color: brown;
  margin-top: 20px;
}

.modal__p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.modal__ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.modal__backdrop5 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__backdrop5.is-hidden5 {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__backdrop5.is-hidden5 > .modal5 {
  opacity: 0;
  transform: translate(-50%, -50%) scale(2.9);
}

.modal5 {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) scale(1);
  width: 90%;
  height: auto;
  padding: 40px;
  background-color: var(--main-title-color);
  opacity: 1;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

@media screen and (min-width: 480px) {
  .modal5 {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .modal5 {
    width: 528px;
  }
}

.modal__close5 {
  margin-bottom: 10px;
  text-transform: uppercase;
  display: block;
  color: brown;
  margin-top: 20px;
}

.modal__heading5 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: .03em;
  color: #212121;
  padding: 20px;
}

.modal__form5 {
  position: relative;
  display: block;
  text-align: left;
  margin-bottom: 10px;
  color: #212121;
}

.modal__thumb5 {
  position: relative;
  display: block;
  text-align: left;
  margin-bottom: 10px;
  color: #212121;
}

.overlay__text {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.9);
  color: #ffffff;
  padding: 20px 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.56em;
  letter-spacing: 0.03em;
  transform: translatey(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link__hero:hover .overlay__text {
  display: block;
}

.herobox__aside {
  position: relative;
  overflow: hidden;
}

.header {
  background-image: url(../images/Header.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 887px;
  max-width: 100vw;
}

@media screen and (min-width: 480px) {
  .header {
    max-width: 100vw;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 100vw;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    max-width: 100vw;
    max-width: 1920px;
    min-height: 850px;
    height: 100%;
  }
}

@media screen and (min-width: 1600px) {
  .header {
    max-width: 100vw;
  }
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  margin-top: 40px;
  font-size: 28px;
  font-family: "Fredoka One";
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: black 2px 0px 0px, black 1.75517px 0.95885px 0px, black 1.0806px 1.68294px 0px, black 0.14147px 1.99499px 0px, black -0.83229px 1.81859px 0px, black -1.60229px 1.19694px 0px, black -1.97998px 0.28224px 0px, black -1.87291px -0.70157px 0px, black -1.30729px -1.5136px 0px, black -0.42159px -1.95506px 0px, black 0.56732px -1.91785px 0px, black 1.41734px -1.41108px 0px, black 1.92034px -0.55883px 0px, 0 0 10px #4c2781, 0 0 20px #4c2284, 0 0 30px #5b2e8d, 0 0 40px #cdabe082;
}

@media screen and (min-width: 768px) {
  .header__title {
    margin-top: 50px;
    font-size: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .header__title {
    margin-top: 45px;
    font-size: 42px;
    font-family: "Fredoka One";
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: black 2px 0px 0px, black 1.75517px 0.95885px 0px, black 1.0806px 1.68294px 0px, black 0.14147px 1.99499px 0px, black -0.83229px 1.81859px 0px, black -1.60229px 1.19694px 0px, black -1.97998px 0.28224px 0px, black -1.87291px -0.70157px 0px, black -1.30729px -1.5136px 0px, black -0.42159px -1.95506px 0px, black 0.56732px -1.91785px 0px, black 1.41734px -1.41108px 0px, black 1.92034px -0.55883px 0px, 0 0 10px #4c2781, 0 0 20px #4c2284, 0 0 30px #5b2e8d, 0 0 40px #cdabe082;
  }
}

@media screen and (min-width: 1600px) {
  .header__title {
    font-size: 42px;
    margin-top: 73px;
  }
}

.hero {
  display: flex;
  align-items: center;
  background: #270a3a;
  height: 530px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero {
    width: 100%;
    max-width: 100vw;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 100vw;
    display: flex;
    align-items: center;
    background: #270a3a;
    height: 0px;
  }
}

.hero__block {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.hero__slotsstar {
  position: absolute;
  height: 248px;
  width: 387px;
  top: -972px;
  margin-left: 33px;
}

@media screen and (min-width: 768px) {
  .hero__slotsstar {
    height: 260px;
    width: 358px;
    top: -970px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__slotsstar {
    position: absolute;
    height: 269px;
    width: 396px;
    top: -680px;
    margin-left: 39px;
  }
}

@media screen and (min-width: 1600px) {
  .hero__slotsstar {
    position: absolute;
    height: 269px;
    width: 396px;
    top: -625px;
    margin-left: 39px;
  }
}

.hero__slots {
  padding-top: 20px;
  background-color: #fff;
  margin: 0px auto;
  height: 130px;
  border-radius: 0 0 50% 50% / 0 0 30px 30px;
  width: 319px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero__slots {
    padding-top: 64px;
    background-color: #fff;
    margin: 0px auto;
    height: 145px;
    width: 460px;
    border-radius: 0 0 50% 50% / 0 0 30px 30px;
    width: 295px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__slots {
    padding-top: 90px;
    background-color: #fff;
    margin: 0px auto;
    height: 215px;
    width: 320px;
    border-radius: 0 0 50% 50% / 0 0 30px 30px;
  }
}

.hero__logo {
  display: block;
  margin: 0 auto;
  width: 150px;
}

@media screen and (min-width: 1200px) {
  .hero__logo {
    width: 150px;
  }
}

.hero__logo9 {
  display: block;
  margin: 0 auto;
  width: 192px;
  height: 55px;
}

@media screen and (min-width: 1200px) {
  .hero__logo9 {
    width: 193px;
    height: 55px;
    margin-bottom: -3px;
  }
}

.img-hover-zoom img {
  transition: transform .5s ease;
}

.img-hover-zoom:hover img {
  filter: blur(0);
  transform: scale(1);
}

.hero__5stars {
  display: block;
  margin: 0 auto;
  width: 132px;
  height: 42px;
}

@media screen and (min-width: 1200px) {
  .hero__5stars {
    display: block;
    margin: 0 auto;
    width: 132px;
    height: 47px;
  }
}

.title__hero {
  font-size: 20px;
  font-family: Fredoka One;
  color: #313841;
  text-transform: uppercase;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title__hero {
    font-size: 20px;
    font-family: Fredoka One;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 30px;
  }
}

.accent-color {
  color: #4066ff;
}

.hero__box {
  background-color: #fff;
  border-radius: 0 0 3% 3%;
  /* border: 4px solid #d8b367;
        border-style: solid;
        border-width: 2px; */
  /* border-radius: 20px; */
  /* -webkit-box-shadow: 0px 0px 10px 3px #f9da49;
          box-shadow: 0px 0px 10px 3px #f9da49; */
  margin-top: -760px;
  margin-left: 3px;
}

@media screen and (min-width: 1200px) {
  .hero__box {
    /* background-color: #804cb9;
              border-radius: 0 0 15% 15%;
              border: 4px solid #d8b367;
              border-style: solid;
              border-width: 2px;
              border-radius: 20px; */
    /* -webkit-box-shadow: 0px 0px 10px 3px #f9da49;
            box-shadow: 0px 0px 10px 3px #f9da49; */
    margin-top: -520px;
    margin-left: 9px;
  }
}

@media screen and (min-width: 1600px) {
  .hero__box {
    margin-top: -450px;
  }
}

.hero__item {
  margin-bottom: 5%;
}

.margin {
  margin-right: 0px;
}

@media screen and (min-width: 1200px) {
  .margin {
    margin-right: 30px;
  }
}

.raiting__list {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .raiting__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .raiting__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
  }
}

@media screen and (min-width: 1600px) {
  .raiting__list {
    margin-bottom: -70px;
  }
}

.raiting__box {
  border: 2px solid #fff;
  background-color: #ffffff;
  border-radius: 8px;
  max-width: 1199px;
  height: 380px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 10px 3px #F9F9F9;
  box-shadow: 0px 0px 10px 3px #F9F9F9;
  align-items: center;
  width: 375px;
}

@media screen and (min-width: 768px) {
  .raiting__box {
    border: 2px solid #fff;
    /*   background-color: #804cb9; */
    border-radius: 6px;
    max-width: 1199px;
    height: 205px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 0px 0px 10px 3px #F9F9F9;
    box-shadow: 0px 0px 10px 3px #F9F9F9;
    align-items: center;
    width: 660px;
    margin-bottom: 75px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .raiting__box {
    width: 911px;
    flex-direction: row;
    height: 160px;
  }
}

.raiting {
  margin-top: -545px;
  background-repeat: repeat;
  background-size: cover;
  background-size: 100% 100%;
  background-image: url(../images/Background-mob.png);
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .raiting {
    margin-top: -460px;
    background-repeat: repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-image: url(../images/Background2.png);
    background-position: center center;
  }
}

@media screen and (min-width: 1200px) {
  .raiting {
    margin-top: -6px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-image: url(../images/Background2.png);
  }
}

@media screen and (min-width: 1600px) {
  .raiting {
    /* height: 1484px; */
    margin-top: 43px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-image: url(../images/Background2.png);
    background-position: center center;
  }
}

.raiting__item {
  width: 100%;
}

.raiting__box-1 {
  background-color: #fff;
  border-radius: 44px 44px 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
}

@media screen and (min-width: 768px) {
  .raiting__box-1 {
    border-radius: 44px 0 0 44px;
    height: 203px;
    width: 285px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* box-shadow: inset -3px 0 0 #804cb9; */
    background-color: #fff;
  }
}

@media screen and (min-width: 1200px) {
  .raiting__box-1 {
    border-radius: 44px 0 0 44px;
    height: 150px;
    width: 454px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* box-shadow: inset -3px 0 0 #804cb9; */
    background-color: #fff;
  }
}

.raiting__stars-box {
  display: flex;
  height: 99px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .raiting__stars-box {
    display: flex;
    height: 203px;
    width: 300px;
    border-radius: 0 15% 15% 0 / 0 100px 100px 0px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
}

@media screen and (min-width: 1200px) {
  .raiting__stars-box {
    display: flex;
    height: 168px;
    width: 300px;
    border-radius: 0 15% 15% 0 / 0 100px 100px 0px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
}

@media screen and (min-width: 1900px) {
  .raiting__stars-box {
    display: flex;
    height: 166px;
    width: 350px;
    border-radius: 0 15% 15% 0 / 0 100px 100px 0px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
}

.raiting__stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.logo__starsRating {
  width: 40px;
  height: 40px;
  margin-left: -11px;
}

.raiting__img-number {
  display: flex;
}

@media screen and (min-width: 320px) {
  .raiting__text {
    padding: 0 10px;
    font-size: 27px;
    font-family: Fredoka One;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
  }
}

@media screen and (min-width: 768px) {
  .raiting__text {
    font-size: 23px;
    font-family: Fredoka One;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
  }
}

@media screen and (min-width: 1200px) {
  .raiting__text {
    font-size: 26px;
    font-family: Fredoka One;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
  }
}

@media screen and (min-width: 1900px) {
  .raiting__text {
    font-size: 32px;
    font-family: Fredoka One;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
  }
}

@media screen and (min-width: 320px) {
  .raiting__number {
    font-size: 28px;
    font-family: Fredoka One;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
    margin-left: 6%;
  }
}

@media screen and (min-width: 768px) {
  .raiting__number {
    font-size: 23px;
    font-family: Fredoka One;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
    margin-left: 6%;
  }
}

@media screen and (min-width: 1200px) {
  .raiting__number {
    font-size: 27px;
    font-family: Fredoka One;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
    margin-left: 6%;
  }
}

@media screen and (min-width: 1900px) {
  .raiting__number {
    font-size: 32px;
    font-family: Fredoka One;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
    margin-left: 6%;
  }
}

.raiting__content {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 50px;
  width: -webkit-fill-available;
  margin-top: 12px;
}

@media screen and (min-width: 768px) {
  .raiting__content {
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .raiting__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.title__hero-margin {
  font-size: 20px;
  font-family: Fredoka One;
  color: #2e3337;
  text-transform: uppercase;
  line-height: 1.7;
  text-align: center;
  /* margin-top: 11px; */
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .title__hero-margin {
    font-family: Fredoka One;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-left: 50px;
    margin-right: 65px;
  }
}

@media screen and (min-width: 1200px) {
  .title__hero-margin {
    font-size: 20px;
    font-family: Fredoka One;
    text-transform: uppercase;
    line-height: 1.4;
    text-align: center;
    margin-left: 6px;
    margin-right: 50px;
    margin-top: 12px;
    width: 290px;
  }
}

.footer {
  background: #1a0a25;
  padding: 22px 0;
  height: 250px;
}

@media screen and (min-width: 768px) {
  .footer {
    background: #1a0a25;
    padding: 60px 0;
    height: 155px;
  }
}

.footer__container {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: left;
  }
}

.footer__content {
  display: block;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .footer__content {
    margin-bottom: 0;
    display: flex;
  }
}

.footer__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__item {
  margin-top: 9px;
}

.footer-tablet {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    margin-top: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-tablet {
    margin-bottom: 0;
    justify-content: space-between;
  }
}

.footer__texts {
  font-size: 12px;
  font-family: Fredoka One;
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 5%;
}

@media screen and (min-width: 768px) {
  .footer__texts {
    font-size: 14px;
    font-family: Fredoka One;
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__texts {
    font-size: 14px;
    font-family: Fredoka One;
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0px;
  }
}

@media screen and (min-width: 1900px) {
  .footer__texts {
    font-size: 14px;
    font-family: Fredoka One;
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0px;
  }
}

.footer--accent {
  justify-content: space-around;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #4461fa;
  text-underline-position: unset;
  font-family: Fredoka One;
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.footer__thumb {
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .footer__thumb {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 78px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__thumb {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 180px;
  }
}

@media screen and (min-width: 1900px) {
  .footer__thumb {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 800px;
  }
}

.footer__thumb--mail {
  font-size: 14px;
  font-family: Fredoka One;
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .footer__thumb--mail {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 78px;
    margin-bottom: 0px;
  }
}

.footer__thumb--contact {
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #4461fa;
  text-underline-position: unset;
  text-transform: uppercase;
  font-family: Fredoka One;
  color: white;
  line-height: 1.2;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__thumb--contact {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
  }
}
/*# sourceMappingURL=main.css.map */