.icon__raiting {
  width: 260px;
  height: 65px;
}

 .icon__footer-age {
   width: 55px;
   height: 55px;
   margin: 0px auto;
   /* padding: 8px 5px; */

   @media screen and(min-width:768px) {
     width: 55px;
     height: 55px;
     margin-right: 20px;
     padding: 0px;
   }

   @media screen and(min-width:1200px) {
     width: 55px;
     height: 55px;
     margin-right: 20px;
     padding: 0px;
   }

   @media screen and(min-width:1900px) {
     width: 55px;
     height: 55px;
     margin-right: 20px;
     padding: 0px;
   }
 }